In [ ]:
import pandas as pd
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
print('Dataframe')
print(df)

In [ ]:
print('dimension\n',df.shape,'\n')
print('Resumen estadistico\n',df.describe(),'\n')
print('Media\n',df.mean(),'\n')
print('Corelacion\n',df.corr(),'\n')
print('Conteo valores\n',df.count(),'\n')
print('Valor Maximo\n',df.max(),'\n')
print('Valor minimo \n',df.min(),'\n')
print('Mediana \n',df.median(),'\n')
print('desviacion estandar \n',df.std(),'\n')

In [ ]:
paises = pd.Series({"Argentina":"Buenos Aires",
          "Peru":"Lima","Colombia":"Peru"})
print('Series')
print(paises)

In [ ]:
df.iloc[3,2]

In [ ]:
df.loc[1]

In [ ]:
import pandas as pd
excel= pd.read_excel('../../fuentes/escritura_lectura_XLS.xlsx', sheet_name='example')
excel

In [ ]:
excel.columns.values

In [ ]:
anos =excel["age"]
anos

In [ ]:
import pandas as pd
csv= pd.read_csv('../../fuentes/lecturaCSV.csv', header=0)
csv

In [ ]:
name_product = csv['Product']
name_product

In [32]:
csv.sort_values(by='Latitude')

,Transaction_date,Product,Price,Payment_Type,Name,City,State,Country,Account_Created,Last_Login,Latitude,Longitude
703,1/03/2009 14:17,Product2,3600,Visa,Kees en Valesca,Scamander,Tasmania,Australia,1/03/2009 13:53,2/14/09 20:11,-41.465000,148.257222
981,1/28/09 22:02,Product1,1200,Visa,Hale,Hawera,Taranaki,New Zealand,1/23/09 22:31,2/28/09 12:43,-39.591667,174.283333
402,1/08/2009 0:04,Product1,1200,Visa,ZOE,New Plymouth City,Taranaki,New Zealand,1/07/2009 23:34,1/31/09 17:47,-39.066667,174.083333
662,1/01/2009 21:40,Product1,1200,Mastercard,Tina,Anglesea,Victoria,Australia,10/20/08 18:27,2/12/2009 14:58,-38.416667,144.166667
389,1/01/2009 8:09,Product1,1200,Mastercard,Nicole,South Melbourne,Victoria,Australia,12/30/08 0:55,1/31/09 5:40,-37.833333,144.966667
746,1/19/09 1:52,Product1,1200,Amex,Kirsten,Melbourne,Victoria,Australia,4/24/07 4:36,2/17/09 1:20,-37.816667,144.966667
677,1/23/09 5:14,Product1,1200,Visa,Ellen Walton,Melbourne,Victoria,Australia,12/16/07 17:05,2/13/09 15:28,-37.816667,144.966667
633,1/14/09 6:35,Product1,1200,Visa,Eric,Melbourne,Victoria,Australia,7/25/08 7:02,2/11/2009 2:05,-37.816667,144.966667
605,1/24/09 18:30,Product1,1200,Visa,Ruangrote,Melbourne,Victoria,Australia,7/17/08 5:19,2/10/2009 2:12,-37.816667,144.966667
51,1/06/2009 1:20,Product1,1200,Mastercard,Frank,Melbourne,Victoria,Australia,1/02/2009 17:51,1/10/2009 18:27,-37.816667,144.966667
546,1/02/2009 22:44,Product2,3600,Visa,eva,Gisborne,Victoria,Australia,12/03/2006 15:36,2/06/2009 20:03,-37.483333,144.583333
606,1/25/09 5:57,Product1,1200,Amex,pamela,Ayacucho,Buenos Aires,Argentina,1/24/09 9:29,2/10/2009 6:38,-37.150000,-58.483333
953,1/17/09 20:51,Product1,1200,Visa,Kathryn,Waiau Pa,Auckland,New Zealand,1/06/2009 21:52,2/26/09 16:19,-37.133333,174.750000
623,1/29/09 15:03,Product1,1200,Visa,Mary,Auckland,Auckland,New Zealand,2/09/2006 11:14,2/10/2009 16:31,-36.866667,174.766667
427,1/23/09 14:43,Product1,1200,Visa,Madison,Torbay,Auckland,New Zealand,1/18/09 11:34,2/01/2009 21:31,-36.700000,174.750000
681,1/07/2009 13:57,Product1,1200,Visa,Elsa,Waiwera,Auckland,New Zealand,1/07/2009 13:32,2/13/09 19:54,-36.550000,174.716667
3,1/03/2009 14:44,Product1,1200,Visa,Gouya,Echuca,Victoria,Australia,9/25/05 21:13,1/03/2009 14:22,-36.133333,144.750000
643,1/24/09 3:25,Product1,1200,Visa,Michelle,Lyndoch,South Australia,Australia,9/26/08 19:23,2/11/2009 15:05,-34.616667,138.883333
207,1/16/09 18:36,Product1,1200,Visa,Elizabeth,Wollongong,New South Wales,Australia,11/01/2008 16:32,1/21/09 1:49,-34.433333,150.883333
562,1/26/09 20:18,Product1,1200,Mastercard,John,Griffith,New South Wales,Australia,1/15/07 20:37,2/07/2009 18:04,-34.283333,146.033333
326,1/07/2009 10:03,Product1,1200,Mastercard,Emma,Sydney,New South Wales,Australia,12/01/2008 6:09,1/27/09 20:18,-33.883333,151.216667
988,1/07/2009 19:48,Product2,3600,Mastercard,TRICIA,Sydney,New South Wales,Australia,9/21/08 20:49,3/01/2009 0:14,-33.883333,151.216667
205,1/09/2009 14:51,Product1,1200,Visa,Bob,Sydney,New South Wales,Australia,1/07/2009 18:15,1/21/09 0:29,-33.883333,151.216667
635,1/31/09 23:09,Product1,1200,Diners,Dawn,Vaucluse,New South Wales,Australia,9/13/04 22:55,2/11/2009 3:09,-33.866667,151.283333
525,1/04/2009 16:59,Product1,1200,Visa,Amy,Parramatta,New South Wales,Australia,1/03/2009 22:35,2/05/2009 22:44,-33.816667,151.000000
598,1/08/2009 23:40,Product1,1200,Visa,Jacob,Lindfield,New South Wales,Australia,1/08/2009 17:52,2/09/2009 18:31,-33.783333,151.166667
223,1/11/2009 22:22,Product2,3600,Visa,STEPHANIE,Mona Vale,New South Wales,Australia,12/30/08 17:48,1/21/09 22:33,-33.666667,151.300000
987,1/23/09 12:42,Product2,3600,Mastercard,Anke,Avalon,New South Wales,Australia,3/03/2008 17:38,2/28/09 22:26,-33.633333,151.333333
774,1/14/09 0:03,Product2,3600,Mastercard,Piret,Bunbury,Western Australia,Australia,6/16/08 18:22,2/17/09 19:31,-33.333333,115.633333
186,1/04/2009 1:38,Product1,1200,Amex,jeremy,Charlestown,New South Wales,Australia,7/15/08 21:04,1/20/09 1:08,-32.950000,151.666667
...,...,...,...,...,...,...,...,...,...,...,...,...
694,1/12/2009 12:04,Product1,1200,Visa,Ed,Nacka,Stockholm,Sweden,12/05/2007 12:48,2/14/09 12:32,59.300000,18.166667
740,1/31/09 11:03,Product1,1200,Visa,Diane,Djurgarden,Stockholm,Sweden,1/25/09 3:48,2/16/09 12:08,59.316667,18.116667
381,1/28/09 1:38,Product1,1200,Mastercard,Kate,Stockholm,Stockholm,Sweden,4/16/07 12:58,1/30/09 9:18,59.333333,18.050000
909,1/22/09 12:56,Product1,1200,Visa,Laleh,Aasgaardstrand,Vestfold,Norway,1/20/09 13:13,2/25/09 12:03,59.348889,10.467500
784,1/23/09 9:09,Product2,3600,Amex,Olympe,Lidingo,Stockholm,Sweden,1/18/06 11:49,2/18/09 8:45,59.366667,18.133333
714,1/19/09 13:15,Product1,1200,Visa,Esther,Stocksund,Stockholm,Sweden,5/29/07 1:32,2/15/09 11:39,59.383333,18.066667
262,1/10/2009 3:28,Product1,1200,Visa,frauke,Horten,Vestfold,Norway,11/24/08 15:50,1/24/09 15:10,59.413611,10.466944
691,1/27/09 3:55,Product1,1200,Amex,R,Danderyd,Stockholm,Sweden,9/13/06 10:09,2/14/09 10:37,59.416667,18.016667
948,1/31/09 4:50,Product1,1200,Mastercard,Detlev,Taby,Stockholm,Sweden,1/12/2009 1:03,2/26/09 13:12,59.500000,18.050000
925,1/02/2009 4:21,Product1,1200,Visa,Elaine,Tranby,Buskerud,Norway,7/30/07 11:42,2/26/09 3:18,59.816667,10.250000
408,1/09/2009 16:35,Product1,1200,Diners,Jennifer,Nordstrand,Oslo,Norway,12/29/05 9:26,2/01/2009 4:18,59.860833,10.790556
79,1/08/2009 13:14,Product1,1200,Visa,Dr. Claudia,Oslo,Oslo,Norway,1/08/2009 12:47,1/13/09 10:49,59.916667,10.750000
831,1/25/09 8:16,Product2,3600,Visa,Astrid,Oslo,Oslo,Norway,4/22/07 2:19,2/20/09 23:22,59.916667,10.750000
683,1/28/09 4:35,Product1,1200,Diners,Selene,Oslo,Oslo,Norway,4/05/2005 5:30,2/13/09 23:15,59.916667,10.750000
213,1/21/09 11:36,Product1,1200,Visa,nicole,Oslo,Oslo,Norway,12/23/08 12:02,1/21/09 13:47,59.916667,10.750000
168,1/07/2009 8:21,Product1,1200,Visa,Jannik,Holmenkollen,Oslo,Norway,1/03/2009 11:06,1/19/09 6:54,59.966667,10.666667
947,1/30/09 20:58,Product2,3600,Mastercard,Tanya,Carcross,Yukon Territory,Canada,1/30/09 14:05,2/26/09 13:06,60.183333,-134.716667
572,1/12/2009 12:22,Product1,1200,Mastercard,JP,Tierp,Uppsala,Sweden,1/06/2009 11:34,2/08/2009 11:15,60.333333,17.500000
429,1/06/2009 3:39,Product1,1200,Visa,Krista,Bergen,Hordaland,Norway,9/20/05 1:58,2/02/2009 0:08,60.391111,5.324722
608,1/13/09 9:14,Product1,1200,Visa,sangeeta,Vossevangen,Hordaland,Norway,1/09/2009 9:31,2/10/2009 9:04,60.633333,6.433333
989,1/26/09 11:19,Product1,1200,Mastercard,smith,Lahti,Etela-Suomen Laani,Finland,1/04/2009 5:25,3/01/2009 0:39,60.966667,25.666667
679,1/14/09 18:05,Product1,1200,Visa,Wouter and Andrea,Anchorage,AK,United States,1/10/2009 3:19,2/13/09 17:22,61.218060,-149.900280
222,1/07/2009 22:29,Product1,1200,Mastercard,lailani,Anchorage,AK,United States,1/07/2009 13:23,1/21/09 22:30,61.218060,-149.900280
588,1/07/2009 7:28,Product1,1200,Amex,Cherish,Anchorage,AK,United States,7/28/08 7:31,2/09/2009 10:50,61.218060,-149.900280
387,1/11/2009 14:56,Product1,1200,Visa,Nicole,Aardal,Sogn og Fjordane,Norway,1/05/2009 5:51,1/31/09 4:21,61.550000,6.350000
156,1/04/2009 23:48,Product1,1200,Diners,Sarka,Yellowknife,Northwest Territories,Canada,1/04/2009 22:41,1/18/09 16:17,62.450000,-114.350000
24,1/02/2009 1:11,Product1,1200,Mastercard,Lena,Kuopio,Ita-Suomen Laani,Finland,12/31/08 2:48,1/07/2009 10:20,62.900000,27.683333
342,1/25/09 18:21,Product1,1200,Visa,Marion,Umea,Vasterbotten,Sweden,1/25/09 16:35,1/28/09 10:19,63.833333,20.250000
338,1/12/2009 15:16,Product1,1200,Visa,Camille and Carmen,Thorlakshofn,,Iceland,1/12/2009 11:41,1/28/09 8:44,63.850000,-21.366667
360,1/18/09 4:01,Product1,1200,Visa,Eleanor,Fairbanks,AK,United States,1/06/2009 0:18,1/28/09 23:56,64.837780,-147.716390